.button {
  background: var(--dark-blue);
  color: var(--white);
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background: var(--dark-blue-hover);
  }
}
