<div class="offer-card">
  <div class="offer-image">
    <img [src]="offer.image" />
  </div>

  <div class="offer-content">
    <h2 class="title">{{ offer.title }}</h2>
    <p class="description">{{ offer.description }}</p>

    <ng-content select=".description"></ng-content>
    <ng-content select=".votes"></ng-content>

    <div class="bottom-row">
      <div class="price">
        {{ offer.price | currency: 'EUR' : 'symbol' : '1.0-0' }}
      </div>

      <ng-content select=".actions"></ng-content>
    </div>
  </div>
</div>
