@if (offer) {
  <div class="details-container">
    <app-card [offer]="offer">
      <div class="votes">
        <app-vote-button
          type="like"
          [icon]="'⬆'"
          [count]="offer.likes"
          [active]="false"
          (vote)="onLike(offer)">
        </app-vote-button>

        <app-vote-button
          type="dislike"
          [icon]="'⬇'"
          [count]="offer.dislikes"
          [active]="false"
          (vote)="onDislike(offer)">
        </app-vote-button>
      </div>

      <div class="actions">
        <button class="buy-btn">Buy Now →</button>
      </div>
    </app-card>
  </div>
}
