@if (offer) {
  <div class="page-container">
    <h1>Offer Details</h1>

    <div class="details-container">
      <button class="back-btn" (click)="goBack()">← Back to Offers</button>

      <app-card [offer]="offer">
        <div class="votes">
          <app-vote-button
            type="like"
            [icon]="'⬆'"
            [count]="offer.likes"
            [active]="false"
            (vote)="onLike(offer)"
          >
          </app-vote-button>

          <app-vote-button
            type="dislike"
            [icon]="'⬇'"
            [count]="offer.dislikes"
            [active]="false"
            (vote)="onDislike(offer)"
          >
          </app-vote-button>
        </div>

        <div class="actions">
          <app-button label="Buy Now →"></app-button>
        </div>
      </app-card>
    </div>
  </div>
}
