/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;

  --dark-blue: #3454e5;
  --dark-blue-hover: #3f63f7;
  --light-blue: #e5e9ff;
  --light-blue-hover: #d1d8ff;

  --dark-gray: #666;
  --light-gray: #e5e7eb;

  --dark-red: #d63636;
  --light-red-hover: #ffd2d2;
  --light-red: #ffe5e5;
}
